.airf {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -0px -0px;
   width: 48px;
   height: 48px;
}
.apsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -0px -50px;
   width: 48px;
   height: 48px;
}
.army {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -50px -0px;
   width: 48px;
   height: 48px;
}
.arsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -50px -50px;
   width: 48px;
   height: 48px;
}
.asu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -0px -100px;
   width: 48px;
   height: 48px;
}
.aub {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -50px -100px;
   width: 48px;
   height: 48px;
}
.augu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -100px -0px;
   width: 48px;
   height: 48px;
}
.bayu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -100px -50px;
   width: 48px;
   height: 48px;
}
.boisu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -100px -100px;
   width: 48px;
   height: 48px;
}
.bosc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -0px -150px;
   width: 48px;
   height: 48px;
}
.bten {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -50px -150px;
   width: 48px;
   height: 48px;
}
.byu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -100px -150px;
   width: 48px;
   height: 48px;
}
.cfp-bowl {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -150px -0px;
   width: 48px;
   height: 48px;
}
.cfp-championship {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -150px -50px;
   width: 48px;
   height: 48px;
}
.clem {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -150px -100px;
   width: 48px;
   height: 48px;
}
.cmiu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -150px -150px;
   width: 48px;
   height: 48px;
}
.coc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -0px -200px;
   width: 48px;
   height: 48px;
}
.cosu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -50px -200px;
   width: 48px;
   height: 48px;
}
.creu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -100px -200px;
   width: 48px;
   height: 48px;
}
.cws {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -150px -200px;
   width: 48px;
   height: 48px;
}
.duke {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -200px -0px;
   width: 48px;
   height: 48px;
}
.ecu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -200px -50px;
   width: 48px;
   height: 48px;
}
.ewau {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -200px -100px;
   width: 48px;
   height: 48px;
}
.flau {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -200px -150px;
   width: 48px;
   height: 48px;
}
.frst {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -200px -200px;
   width: 48px;
   height: 48px;
}
.fsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -0px -250px;
   width: 48px;
   height: 48px;
}
.gasu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -50px -250px;
   width: 48px;
   height: 48px;
}
.gat {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -100px -250px;
   width: 48px;
   height: 48px;
}
.gonu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -150px -250px;
   width: 48px;
   height: 48px;
}
.hvd {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -200px -250px;
   width: 48px;
   height: 48px;
}
.iasu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -250px -0px;
   width: 48px;
   height: 48px;
}
.ilsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -250px -50px;
   width: 48px;
   height: 48px;
}
.inu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -250px -100px;
   width: 48px;
   height: 48px;
}
.jmu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -250px -150px;
   width: 48px;
   height: 48px;
}
.jsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -250px -200px;
   width: 48px;
   height: 48px;
}
.ksu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -250px -250px;
   width: 48px;
   height: 48px;
}
.lafayette {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -0px -300px;
   width: 48px;
   height: 48px;
}
.lehigh {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -50px -300px;
   width: 48px;
   height: 48px;
}
.loyu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -100px -300px;
   width: 48px;
   height: 48px;
}
.lsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -150px -300px;
   width: 48px;
   height: 48px;
}
.maru {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -200px -300px;
   width: 48px;
   height: 48px;
}
.mqu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -250px -300px;
   width: 48px;
   height: 48px;
}
.mssu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -300px -0px;
   width: 48px;
   height: 48px;
}
.msu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -300px -50px;
   width: 48px;
   height: 48px;
}
.mtsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -300px -100px;
   width: 48px;
   height: 48px;
}
.navy {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -300px -150px;
   width: 48px;
   height: 48px;
}
.ncaa {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -300px -200px;
   width: 48px;
   height: 48px;
}
.ncsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -300px -250px;
   width: 48px;
   height: 48px;
}
.ndsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -300px -300px;
   width: 48px;
   height: 48px;
}
.nwu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -0px -350px;
   width: 48px;
   height: 48px;
}
.oksu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -50px -350px;
   width: 48px;
   height: 48px;
}
.orsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -100px -350px;
   width: 48px;
   height: 48px;
}
.osu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -150px -350px;
   width: 48px;
   height: 48px;
}
.psu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -200px -350px;
   width: 48px;
   height: 48px;
}
.puru {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -250px -350px;
   width: 48px;
   height: 48px;
}
.rmu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -300px -350px;
   width: 48px;
   height: 48px;
}
.rose {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -350px -0px;
   width: 48px;
   height: 48px;
}
.rutu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -350px -50px;
   width: 48px;
   height: 48px;
}
.saintjohns {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -350px -100px;
   width: 48px;
   height: 48px;
}
.scar {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -350px -150px;
   width: 48px;
   height: 48px;
}
.sdcas {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -350px -200px;
   width: 48px;
   height: 48px;
}
.sdsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -350px -250px;
   width: 48px;
   height: 48px;
}
.sfa {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -350px -300px;
   width: 48px;
   height: 48px;
}
.smu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -350px -350px;
   width: 48px;
   height: 48px;
}
.stan {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -0px -400px;
   width: 48px;
   height: 48px;
}
.stthomas {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -50px -400px;
   width: 48px;
   height: 48px;
}
.syru {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -100px -400px;
   width: 48px;
   height: 48px;
}
.tcu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -150px -400px;
   width: 48px;
   height: 48px;
}
.troy {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -200px -400px;
   width: 48px;
   height: 48px;
}
.txam {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -250px -400px;
   width: 48px;
   height: 48px;
}
.txt {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -300px -400px;
   width: 48px;
   height: 48px;
}
.ual {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -350px -400px;
   width: 48px;
   height: 48px;
}
.ualb {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -400px -0px;
   width: 48px;
   height: 48px;
}
.uar {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -400px -50px;
   width: 48px;
   height: 48px;
}
.uaz {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -400px -100px;
   width: 48px;
   height: 48px;
}
.ucalb {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -400px -150px;
   width: 48px;
   height: 48px;
}
.ucf {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -400px -200px;
   width: 48px;
   height: 48px;
}
.ucin {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -400px -250px;
   width: 48px;
   height: 48px;
}
.ucla {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -400px -300px;
   width: 48px;
   height: 48px;
}
.uco {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -400px -350px;
   width: 48px;
   height: 48px;
}
.uconn {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -400px -400px;
   width: 48px;
   height: 48px;
}
.uday {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -0px -450px;
   width: 48px;
   height: 48px;
}
.ude {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -50px -450px;
   width: 48px;
   height: 48px;
}
.ufl {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -100px -450px;
   width: 48px;
   height: 48px;
}
.uga {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -150px -450px;
   width: 48px;
   height: 48px;
}
.uhou {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -200px -450px;
   width: 48px;
   height: 48px;
}
.uia {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -250px -450px;
   width: 48px;
   height: 48px;
}
.uil {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -300px -450px;
   width: 48px;
   height: 48px;
}
.ukan {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -350px -450px;
   width: 48px;
   height: 48px;
}
.uky {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -400px -450px;
   width: 48px;
   height: 48px;
}
.ulam {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -450px -0px;
   width: 48px;
   height: 48px;
}
.ulou {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -450px -50px;
   width: 48px;
   height: 48px;
}
.umd {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -450px -100px;
   width: 48px;
   height: 48px;
}
.umem {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -450px -150px;
   width: 48px;
   height: 48px;
}
.umi {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -450px -200px;
   width: 48px;
   height: 48px;
}
.umia {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -450px -250px;
   width: 48px;
   height: 48px;
}
.umn {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -450px -300px;
   width: 48px;
   height: 48px;
}
.umo {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -450px -350px;
   width: 48px;
   height: 48px;
}
.ums {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -450px -400px;
   width: 48px;
   height: 48px;
}
.umt {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -450px -450px;
   width: 48px;
   height: 48px;
}
.unc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -0px -500px;
   width: 48px;
   height: 48px;
}
.und {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -50px -500px;
   width: 48px;
   height: 48px;
}
.une {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -100px -500px;
   width: 48px;
   height: 48px;
}
.unod {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -150px -500px;
   width: 48px;
   height: 48px;
}
.unv {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -200px -500px;
   width: 48px;
   height: 48px;
}
.uok {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -250px -500px;
   width: 48px;
   height: 48px;
}
.uor {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -300px -500px;
   width: 48px;
   height: 48px;
}
.upitt {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -350px -500px;
   width: 48px;
   height: 48px;
}
.urich {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -400px -500px;
   width: 48px;
   height: 48px;
}
.usal {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -450px -500px;
   width: 48px;
   height: 48px;
}
.usc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -500px -0px;
   width: 48px;
   height: 48px;
}
.usm {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -500px -50px;
   width: 48px;
   height: 48px;
}
.utep {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -500px -100px;
   width: 48px;
   height: 48px;
}
.utn {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -500px -150px;
   width: 48px;
   height: 48px;
}
.utsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -500px -200px;
   width: 48px;
   height: 48px;
}
.utx {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -500px -250px;
   width: 48px;
   height: 48px;
}
.uut {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -500px -300px;
   width: 48px;
   height: 48px;
}
.uva {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -500px -350px;
   width: 48px;
   height: 48px;
}
.uwa {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -500px -400px;
   width: 48px;
   height: 48px;
}
.uwi {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -500px -450px;
   width: 48px;
   height: 48px;
}
.uwy {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -500px -500px;
   width: 48px;
   height: 48px;
}
.vanu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -0px -550px;
   width: 48px;
   height: 48px;
}
.vat {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -50px -550px;
   width: 48px;
   height: 48px;
}
.vcu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -100px -550px;
   width: 48px;
   height: 48px;
}
.vilu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -150px -550px;
   width: 48px;
   height: 48px;
}
.wasu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -200px -550px;
   width: 48px;
   height: 48px;
}
.wfu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -250px -550px;
   width: 48px;
   height: 48px;
}
.wich {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -300px -550px;
   width: 48px;
   height: 48px;
}
.wkyu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -350px -550px;
   width: 48px;
   height: 48px;
}
.wvu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -400px -550px;
   width: 48px;
   height: 48px;
}
.xavu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -450px -550px;
   width: 48px;
   height: 48px;
}
.yale {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-48_r2.png') no-repeat -500px -550px;
   width: 48px;
   height: 48px;
}