.icons-mobile-college-airf {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -0px -0px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-apsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -0px -34px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-army {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -34px -0px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-arsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -34px -34px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-asu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -0px -68px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-aub {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -34px -68px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-augu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -68px -0px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-bayu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -68px -34px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-boisu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -68px -68px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-bosc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -0px -102px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-bten {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -34px -102px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-byu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -68px -102px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-cfp-bowl {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -102px -0px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-cfp-championship {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -102px -34px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-clem {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -102px -68px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-cmiu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -102px -102px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-coc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -0px -136px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-cosu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -34px -136px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-creu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -68px -136px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-cws {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -102px -136px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-duke {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -136px -0px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-ecu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -136px -34px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-ewau {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -136px -68px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-flau {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -136px -102px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-frst {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -136px -136px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-fsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -0px -170px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-gasu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -34px -170px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-gat {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -68px -170px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-gonu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -102px -170px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-hvd {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -136px -170px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-iasu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -170px -0px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-ilsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -170px -34px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-inu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -170px -68px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-jmu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -170px -102px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-jsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -170px -136px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-ksu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -170px -170px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-lafayette {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -0px -204px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-lehigh {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -34px -204px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-loyu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -68px -204px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-lsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -102px -204px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-maru {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -136px -204px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-mqu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -170px -204px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-mssu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -204px -0px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-msu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -204px -34px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-mtsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -204px -68px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-navy {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -204px -102px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-ncaa {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -204px -136px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-ncsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -204px -170px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-ndsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -204px -204px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-nwu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -0px -238px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-oksu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -34px -238px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-orsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -68px -238px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-osu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -102px -238px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-psu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -136px -238px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-puru {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -170px -238px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-rmu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -204px -238px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-rose {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -238px -0px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-rutu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -238px -34px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-saintjohns {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -238px -68px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-scar {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -238px -102px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-sdcas {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -238px -136px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-sdsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -238px -170px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-sfa {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -238px -204px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-smu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -238px -238px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-stan {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -0px -272px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-stthomas {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -34px -272px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-syru {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -68px -272px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-tcu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -102px -272px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-troy {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -136px -272px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-txam {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -170px -272px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-txt {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -204px -272px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-ual {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -238px -272px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-ualb {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -272px -0px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-uar {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -272px -34px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-uaz {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -272px -68px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-ucalb {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -272px -102px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-ucf {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -272px -136px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-ucin {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -272px -170px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-ucla {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -272px -204px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-uco {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -272px -238px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-uconn {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -272px -272px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-uday {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -0px -306px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-ude {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -34px -306px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-ufl {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -68px -306px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-uga {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -102px -306px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-uhou {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -136px -306px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-uia {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -170px -306px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-uiky {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -204px -306px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-uil {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -238px -306px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-ukan {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -272px -306px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-ulam {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -306px -0px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-ulou {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -306px -34px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-umd {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -306px -68px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-umem {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -306px -102px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-umi {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -306px -136px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-umia {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -306px -170px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-umn {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -306px -204px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-umo {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -306px -238px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-ums {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -306px -272px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-umt {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -306px -306px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-unc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -0px -340px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-und {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -34px -340px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-une {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -68px -340px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-unod {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -102px -340px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-unv {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -136px -340px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-uok {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -170px -340px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-uor {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -204px -340px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-upitt {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -238px -340px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-urich {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -272px -340px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-usal {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -306px -340px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-usc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -340px -0px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-usm {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -340px -34px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-utep {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -340px -68px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-utn {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -340px -102px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-utsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -340px -136px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-utx {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -340px -170px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-uut {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -340px -204px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-uva {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -340px -238px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-uwa {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -340px -272px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-uwi {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -340px -306px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-uwy {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -340px -340px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-vanu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -0px -374px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-vat {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -34px -374px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-vcu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -68px -374px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-vilu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -102px -374px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-wasu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -136px -374px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-wfu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -170px -374px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-wich {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -204px -374px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-wkyu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -238px -374px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-wvu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -272px -374px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-xavu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -306px -374px;
   width: 32px;
   height: 32px;
}
.icons-mobile-college-yale {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-32.png') no-repeat -340px -374px;
   width: 32px;
   height: 32px;
}