.airf {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -0px -0px;
   width: 64px;
   height: 64px;
}
.apsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -0px -66px;
   width: 64px;
   height: 64px;
}
.army {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -66px -0px;
   width: 64px;
   height: 64px;
}
.arsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -66px -66px;
   width: 64px;
   height: 64px;
}
.asu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -0px -132px;
   width: 64px;
   height: 64px;
}
.aub {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -66px -132px;
   width: 64px;
   height: 64px;
}
.augu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -132px -0px;
   width: 64px;
   height: 64px;
}
.bayu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -132px -66px;
   width: 64px;
   height: 64px;
}
.boisu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -132px -132px;
   width: 64px;
   height: 64px;
}
.bosc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -0px -198px;
   width: 64px;
   height: 64px;
}
.bten {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -66px -198px;
   width: 64px;
   height: 64px;
}
.byu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -132px -198px;
   width: 64px;
   height: 64px;
}
.cfp-bowl {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -198px -0px;
   width: 64px;
   height: 64px;
}
.cfp-championship {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -198px -66px;
   width: 64px;
   height: 64px;
}
.clem {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -198px -132px;
   width: 64px;
   height: 64px;
}
.cmiu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -198px -198px;
   width: 64px;
   height: 64px;
}
.coc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -0px -264px;
   width: 64px;
   height: 64px;
}
.cosu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -66px -264px;
   width: 64px;
   height: 64px;
}
.creu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -132px -264px;
   width: 64px;
   height: 64px;
}
.cws {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -198px -264px;
   width: 64px;
   height: 64px;
}
.duke {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -264px -0px;
   width: 64px;
   height: 64px;
}
.ecu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -264px -66px;
   width: 64px;
   height: 64px;
}
.ewau {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -264px -132px;
   width: 64px;
   height: 64px;
}
.flau {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -264px -198px;
   width: 64px;
   height: 64px;
}
.frst {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -264px -264px;
   width: 64px;
   height: 64px;
}
.fsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -0px -330px;
   width: 64px;
   height: 64px;
}
.gasu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -66px -330px;
   width: 64px;
   height: 64px;
}
.gat {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -132px -330px;
   width: 64px;
   height: 64px;
}
.gonu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -198px -330px;
   width: 64px;
   height: 64px;
}
.hvd {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -264px -330px;
   width: 64px;
   height: 64px;
}
.iasu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -330px -0px;
   width: 64px;
   height: 64px;
}
.ilsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -330px -66px;
   width: 64px;
   height: 64px;
}
.inu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -330px -132px;
   width: 64px;
   height: 64px;
}
.jmu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -330px -198px;
   width: 64px;
   height: 64px;
}
.jsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -330px -264px;
   width: 64px;
   height: 64px;
}
.ksu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -330px -330px;
   width: 64px;
   height: 64px;
}
.lafayette {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -0px -396px;
   width: 64px;
   height: 64px;
}
.lehigh {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -66px -396px;
   width: 64px;
   height: 64px;
}
.loyu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -132px -396px;
   width: 64px;
   height: 64px;
}
.lsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -198px -396px;
   width: 64px;
   height: 64px;
}
.maru {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -264px -396px;
   width: 64px;
   height: 64px;
}
.mqu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -330px -396px;
   width: 64px;
   height: 64px;
}
.mssu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -396px -0px;
   width: 64px;
   height: 64px;
}
.msu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -396px -66px;
   width: 64px;
   height: 64px;
}
.mtsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -396px -132px;
   width: 64px;
   height: 64px;
}
.navy {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -396px -198px;
   width: 64px;
   height: 64px;
}
.ncaa {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -396px -264px;
   width: 64px;
   height: 64px;
}
.ncsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -396px -330px;
   width: 64px;
   height: 64px;
}
.ndsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -396px -396px;
   width: 64px;
   height: 64px;
}
.nwu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -0px -462px;
   width: 64px;
   height: 64px;
}
.oksu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -66px -462px;
   width: 64px;
   height: 64px;
}
.orsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -132px -462px;
   width: 64px;
   height: 64px;
}
.osu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -198px -462px;
   width: 64px;
   height: 64px;
}
.psu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -264px -462px;
   width: 64px;
   height: 64px;
}
.puru {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -330px -462px;
   width: 64px;
   height: 64px;
}
.rmu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -396px -462px;
   width: 64px;
   height: 64px;
}
.rose {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -462px -0px;
   width: 64px;
   height: 64px;
}
.rutu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -462px -66px;
   width: 64px;
   height: 64px;
}
.saintjohns {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -462px -132px;
   width: 64px;
   height: 64px;
}
.scar {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -462px -198px;
   width: 64px;
   height: 64px;
}
.sdcas {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -462px -264px;
   width: 64px;
   height: 64px;
}
.sdsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -462px -330px;
   width: 64px;
   height: 64px;
}
.sfa {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -462px -396px;
   width: 64px;
   height: 64px;
}
.smu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -462px -462px;
   width: 64px;
   height: 64px;
}
.stan {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -0px -528px;
   width: 64px;
   height: 64px;
}
.stthomas {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -66px -528px;
   width: 64px;
   height: 64px;
}
.syru {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -132px -528px;
   width: 64px;
   height: 64px;
}
.tcu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -198px -528px;
   width: 64px;
   height: 64px;
}
.troy {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -264px -528px;
   width: 64px;
   height: 64px;
}
.txam {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -330px -528px;
   width: 64px;
   height: 64px;
}
.txt {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -396px -528px;
   width: 64px;
   height: 64px;
}
.ual {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -462px -528px;
   width: 64px;
   height: 64px;
}
.ualb {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -528px -0px;
   width: 64px;
   height: 64px;
}
.uar {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -528px -66px;
   width: 64px;
   height: 64px;
}
.uaz {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -528px -132px;
   width: 64px;
   height: 64px;
}
.ucalb {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -528px -198px;
   width: 64px;
   height: 64px;
}
.ucf {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -528px -264px;
   width: 64px;
   height: 64px;
}
.ucin {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -528px -330px;
   width: 64px;
   height: 64px;
}
.ucla {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -528px -396px;
   width: 64px;
   height: 64px;
}
.uco {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -528px -462px;
   width: 64px;
   height: 64px;
}
.uconn {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -528px -528px;
   width: 64px;
   height: 64px;
}
.uday {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -0px -594px;
   width: 64px;
   height: 64px;
}
.ude {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -66px -594px;
   width: 64px;
   height: 64px;
}
.ufl {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -132px -594px;
   width: 64px;
   height: 64px;
}
.uga {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -198px -594px;
   width: 64px;
   height: 64px;
}
.uhou {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -264px -594px;
   width: 64px;
   height: 64px;
}
.uia {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -330px -594px;
   width: 64px;
   height: 64px;
}
.uil {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -396px -594px;
   width: 64px;
   height: 64px;
}
.ukan {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -462px -594px;
   width: 64px;
   height: 64px;
}
.uky {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -528px -594px;
   width: 64px;
   height: 64px;
}
.ulam {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -594px -0px;
   width: 64px;
   height: 64px;
}
.ulou {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -594px -66px;
   width: 64px;
   height: 64px;
}
.umd {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -594px -132px;
   width: 64px;
   height: 64px;
}
.umem {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -594px -198px;
   width: 64px;
   height: 64px;
}
.umi {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -594px -264px;
   width: 64px;
   height: 64px;
}
.umia {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -594px -330px;
   width: 64px;
   height: 64px;
}
.umn {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -594px -396px;
   width: 64px;
   height: 64px;
}
.umo {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -594px -462px;
   width: 64px;
   height: 64px;
}
.ums {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -594px -528px;
   width: 64px;
   height: 64px;
}
.umt {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -594px -594px;
   width: 64px;
   height: 64px;
}
.unc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -0px -660px;
   width: 64px;
   height: 64px;
}
.und {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -66px -660px;
   width: 64px;
   height: 64px;
}
.une {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -132px -660px;
   width: 64px;
   height: 64px;
}
.unod {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -198px -660px;
   width: 64px;
   height: 64px;
}
.unv {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -264px -660px;
   width: 64px;
   height: 64px;
}
.uok {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -330px -660px;
   width: 64px;
   height: 64px;
}
.uor {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -396px -660px;
   width: 64px;
   height: 64px;
}
.upitt {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -462px -660px;
   width: 64px;
   height: 64px;
}
.urich {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -528px -660px;
   width: 64px;
   height: 64px;
}
.usal {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -594px -660px;
   width: 64px;
   height: 64px;
}
.usc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -660px -0px;
   width: 64px;
   height: 64px;
}
.usm {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -660px -66px;
   width: 64px;
   height: 64px;
}
.utep {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -660px -132px;
   width: 64px;
   height: 64px;
}
.utn {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -660px -198px;
   width: 64px;
   height: 64px;
}
.utsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -660px -264px;
   width: 64px;
   height: 64px;
}
.utx {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -660px -330px;
   width: 64px;
   height: 64px;
}
.uut {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -660px -396px;
   width: 64px;
   height: 64px;
}
.uva {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -660px -462px;
   width: 64px;
   height: 64px;
}
.uwa {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -660px -528px;
   width: 64px;
   height: 64px;
}
.uwi {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -660px -594px;
   width: 64px;
   height: 64px;
}
.uwy {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -660px -660px;
   width: 64px;
   height: 64px;
}
.vanu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -0px -726px;
   width: 64px;
   height: 64px;
}
.vat {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -66px -726px;
   width: 64px;
   height: 64px;
}
.vcu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -132px -726px;
   width: 64px;
   height: 64px;
}
.vilu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -198px -726px;
   width: 64px;
   height: 64px;
}
.wasu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -264px -726px;
   width: 64px;
   height: 64px;
}
.wfu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -330px -726px;
   width: 64px;
   height: 64px;
}
.wich {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -396px -726px;
   width: 64px;
   height: 64px;
}
.wkyu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -462px -726px;
   width: 64px;
   height: 64px;
}
.wvu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -528px -726px;
   width: 64px;
   height: 64px;
}
.xavu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -594px -726px;
   width: 64px;
   height: 64px;
}
.yale {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_r2.png') no-repeat -660px -726px;
   width: 64px;
   height: 64px;
}