.menu-mlb-arizona-diamondbacks {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -0px -0px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-atlanta-braves {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -0px -26px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-baltimore-orioles {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -26px -0px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-boston-red-sox {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -26px -26px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-chicago-cubs {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -0px -52px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-chicago-white-sox {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -26px -52px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-cincinnati-reds {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -52px -0px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-cleveland-guardians {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -52px -26px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-colorado-rockies {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -52px -52px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-detroit-tigers {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -0px -78px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-houston-astros {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -26px -78px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-kansas-city-royals {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -52px -78px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-los-angeles-angels {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -78px -0px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-los-angeles-dodgers {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -78px -26px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-miami-marlins {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -78px -52px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-milwaukee-brewers {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -78px -78px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-minnesota-twins {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -0px -104px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-mlb {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -26px -104px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-new-york-mets {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -52px -104px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-new-york-yankees {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -78px -104px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-oakland-athletics {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -104px -0px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-philadelphia-phillies {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -104px -26px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-pittsburgh-pirates {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -104px -52px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-san-diego-padres {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -104px -78px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-san-francisco-giants {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -104px -104px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-seattle-mariners {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -0px -130px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-st-louis-cardinals {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -26px -130px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-tampa-bay-rays {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -52px -130px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-texas-rangers {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -78px -130px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-toronto-blue-jays {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -104px -130px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-washington-nationals {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -130px -0px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}
.menu-mlb-world-series-2017 {
   background: url('https://www.panoramas.com/content/assets/menu-mlb-sprite.png') no-repeat -130px -26px;
   width: 24px;
   height: 24px;
   float:left;
   margin-right:5px;
}