.golfhorse {
   background: url('menu-top-spritesheet_32.png') no-repeat -0px -0px;
   width: 32px;
   height: 32px;
}
.icons {
   background: url('menu-top-spritesheet_32.png') no-repeat -0px -34px;
   width: 32px;
   height: 32px;
}
.lighthouse {
   background: url('menu-top-spritesheet_32.png') no-repeat -34px -0px;
   width: 32px;
   height: 32px;
}
.mlb {
   background: url('menu-top-spritesheet_32.png') no-repeat -34px -34px;
   width: 32px;
   height: 32px;
}
.nascar {
   background: url('menu-top-spritesheet_32.png') no-repeat -0px -68px;
   width: 32px;
   height: 32px;
}
.nationalparks {
   background: url('menu-top-spritesheet_32.png') no-repeat -34px -68px;
   width: 32px;
   height: 32px;
}
.ncaa {
   background: url('menu-top-spritesheet_32.png') no-repeat -68px -0px;
   width: 32px;
   height: 32px;
}
.nfl {
   background: url('menu-top-spritesheet_32.png') no-repeat -68px -34px;
   width: 32px;
   height: 32px;
}
.nhl {
   background: url('menu-top-spritesheet_32.png') no-repeat -68px -68px;
   width: 32px;
   height: 32px;
}
.skylines {
   background: url('menu-top-spritesheet_32.png') no-repeat -0px -102px;
   width: 32px;
   height: 32px;
}
.usskylines {
   background: url('menu-top-spritesheet_32.png') no-repeat -34px -102px;
   width: 32px;
   height: 32px;
}
.worldskylines {
   background: url('menu-top-spritesheet_32.png') no-repeat -68px -102px;
   width: 32px;
   height: 32px;
}
.framing {
   background: url('menu-top-spritesheet_32.png') no-repeat -102px -0px;
   width: 32px;
   height: 32px;
}