.detroit-tigers {
   background: url('mlb-spritesheet-24.png') no-repeat -0px -0px;
   width: 24px;
   height: 24px;
}
.houston-astros {
   background: url('mlb-spritesheet-24.png') no-repeat -0px -26px;
   width: 24px;
   height: 24px;
}
.kansas-city-royals {
   background: url('mlb-spritesheet-24.png') no-repeat -26px -0px;
   width: 24px;
   height: 24px;
}
.los-angeles-angels {
   background: url('mlb-spritesheet-24.png') no-repeat -26px -26px;
   width: 24px;
   height: 24px;
}
.los-angeles-dodgers {
   background: url('mlb-spritesheet-24.png') no-repeat -0px -52px;
   width: 24px;
   height: 24px;
}
.miami-marlins {
   background: url('mlb-spritesheet-24.png') no-repeat -26px -52px;
   width: 24px;
   height: 24px;
}
.milwaukee-brewers {
   background: url('mlb-spritesheet-24.png') no-repeat -52px -0px;
   width: 24px;
   height: 24px;
}
.minnesota-twins {
   background: url('mlb-spritesheet-24.png') no-repeat -52px -26px;
   width: 24px;
   height: 24px;
}
.mlb {
   background: url('mlb-spritesheet-24.png') no-repeat -52px -52px;
   width: 24px;
   height: 24px;
}
.new-york-mets {
   background: url('mlb-spritesheet-24.png') no-repeat -0px -78px;
   width: 24px;
   height: 24px;
}
.new-york-yankees {
   background: url('mlb-spritesheet-24.png') no-repeat -26px -78px;
   width: 24px;
   height: 24px;
}
.oakland-athletics {
   background: url('mlb-spritesheet-24.png') no-repeat -52px -78px;
   width: 24px;
   height: 24px;
}
.philadelphia-phillies {
   background: url('mlb-spritesheet-24.png') no-repeat -78px -0px;
   width: 24px;
   height: 24px;
}
.pittsburgh-pirates {
   background: url('mlb-spritesheet-24.png') no-repeat -78px -26px;
   width: 24px;
   height: 24px;
}
.san-diego-padres {
   background: url('mlb-spritesheet-24.png') no-repeat -78px -52px;
   width: 24px;
   height: 24px;
}
.san-francisco-giants {
   background: url('mlb-spritesheet-24.png') no-repeat -78px -78px;
   width: 24px;
   height: 24px;
}
.seattle-mariners {
   background: url('mlb-spritesheet-24.png') no-repeat -0px -104px;
   width: 24px;
   height: 24px;
}
.st-louis-cardinals {
   background: url('mlb-spritesheet-24.png') no-repeat -26px -104px;
   width: 24px;
   height: 24px;
}
.tampa-bay-rays {
   background: url('mlb-spritesheet-24.png') no-repeat -52px -104px;
   width: 24px;
   height: 24px;
}
.texas-rangers {
   background: url('mlb-spritesheet-24.png') no-repeat -78px -104px;
   width: 24px;
   height: 24px;
}
.toronto-blue-jays {
   background: url('mlb-spritesheet-24.png') no-repeat -104px -0px;
   width: 24px;
   height: 24px;
}
.washington-nationals {
   background: url('mlb-spritesheet-24.png') no-repeat -104px -26px;
   width: 24px;
   height: 24px;
}
.arizona-diamondbacks {
   background: url('mlb-spritesheet-24.png') no-repeat -104px -52px;
   width: 24px;
   height: 24px;
}
.atlanta-braves {
   background: url('mlb-spritesheet-24.png') no-repeat -104px -78px;
   width: 24px;
   height: 24px;
}
.baltimore-orioles {
   background: url('mlb-spritesheet-24.png') no-repeat -104px -104px;
   width: 24px;
   height: 24px;
}
.boston-red-sox {
   background: url('mlb-spritesheet-24.png') no-repeat -0px -130px;
   width: 24px;
   height: 24px;
}
.chicago-cubs {
   background: url('mlb-spritesheet-24.png') no-repeat -26px -130px;
   width: 24px;
   height: 24px;
}
.chicago-white-sox {
   background: url('mlb-spritesheet-24.png') no-repeat -52px -130px;
   width: 24px;
   height: 24px;
}
.cincinnati-reds {
   background: url('mlb-spritesheet-24.png') no-repeat -78px -130px;
   width: 24px;
   height: 24px;
}
.cleveland-guardians {
   background: url('mlb-spritesheet-24.png') no-repeat -104px -130px;
   width: 24px;
   height: 24px;
}
.cleveland-indians {
   background: url('mlb-spritesheet-24.png') no-repeat -130px -0px;
   width: 24px;
   height: 24px;
}
.colorado-rockies {
   background: url('mlb-spritesheet-24.png') no-repeat -130px -26px;
   width: 24px;
   height: 24px;
}