.arizona-diamondbacks {
   background: url('mlb-spritesheet-32.png') no-repeat -0px -0px;
   width: 32px;
   height: 32px;
}
.atlanta-braves {
   background: url('mlb-spritesheet-32.png') no-repeat -0px -34px;
   width: 32px;
   height: 32px;
}
.baltimore-orioles {
   background: url('mlb-spritesheet-32.png') no-repeat -34px -0px;
   width: 32px;
   height: 32px;
}
.boston-red-sox {
   background: url('mlb-spritesheet-32.png') no-repeat -34px -34px;
   width: 32px;
   height: 32px;
}
.chicago-cubs {
   background: url('mlb-spritesheet-32.png') no-repeat -0px -68px;
   width: 32px;
   height: 32px;
}
.chicago-white-sox {
   background: url('mlb-spritesheet-32.png') no-repeat -34px -68px;
   width: 32px;
   height: 32px;
}
.cincinnati-reds {
   background: url('mlb-spritesheet-32.png') no-repeat -68px -0px;
   width: 32px;
   height: 32px;
}
.cleveland-guardians {
   background: url('mlb-spritesheet-32.png') no-repeat -68px -34px;
   width: 32px;
   height: 32px;
}
.colorado-rockies {
   background: url('mlb-spritesheet-32.png') no-repeat -68px -68px;
   width: 32px;
   height: 32px;
}
.detroit-tigers {
   background: url('mlb-spritesheet-32.png') no-repeat -0px -102px;
   width: 32px;
   height: 32px;
}
.houston-astros {
   background: url('mlb-spritesheet-32.png') no-repeat -34px -102px;
   width: 32px;
   height: 32px;
}
.kansas-city-royals {
   background: url('mlb-spritesheet-32.png') no-repeat -68px -102px;
   width: 32px;
   height: 32px;
}
.los-angeles-angels {
   background: url('mlb-spritesheet-32.png') no-repeat -102px -0px;
   width: 32px;
   height: 32px;
}
.los-angeles-dodgers {
   background: url('mlb-spritesheet-32.png') no-repeat -102px -34px;
   width: 32px;
   height: 32px;
}
.miami-marlins {
   background: url('mlb-spritesheet-32.png') no-repeat -102px -68px;
   width: 32px;
   height: 32px;
}
.milwaukee-brewers {
   background: url('mlb-spritesheet-32.png') no-repeat -102px -102px;
   width: 32px;
   height: 32px;
}
.minnesota-twins {
   background: url('mlb-spritesheet-32.png') no-repeat -0px -136px;
   width: 32px;
   height: 32px;
}
.mlb {
   background: url('mlb-spritesheet-32.png') no-repeat -34px -136px;
   width: 32px;
   height: 32px;
}
.new-york-mets {
   background: url('mlb-spritesheet-32.png') no-repeat -68px -136px;
   width: 32px;
   height: 32px;
}
.new-york-yankees {
   background: url('mlb-spritesheet-32.png') no-repeat -102px -136px;
   width: 32px;
   height: 32px;
}
.oakland-athletics {
   background: url('mlb-spritesheet-32.png') no-repeat -136px -0px;
   width: 32px;
   height: 32px;
}
.philadelphia-phillies {
   background: url('mlb-spritesheet-32.png') no-repeat -136px -34px;
   width: 32px;
   height: 32px;
}
.pittsburgh-pirates {
   background: url('mlb-spritesheet-32.png') no-repeat -136px -68px;
   width: 32px;
   height: 32px;
}
.san-diego-padres {
   background: url('mlb-spritesheet-32.png') no-repeat -136px -102px;
   width: 32px;
   height: 32px;
}
.san-francisco-giants {
   background: url('mlb-spritesheet-32.png') no-repeat -136px -136px;
   width: 32px;
   height: 32px;
}
.seattle-mariners {
   background: url('mlb-spritesheet-32.png') no-repeat -0px -170px;
   width: 32px;
   height: 32px;
}
.st-louis-cardinals {
   background: url('mlb-spritesheet-32.png') no-repeat -34px -170px;
   width: 32px;
   height: 32px;
}
.tampa-bay-rays {
   background: url('mlb-spritesheet-32.png') no-repeat -68px -170px;
   width: 32px;
   height: 32px;
}
.texas-rangers {
   background: url('mlb-spritesheet-32.png') no-repeat -102px -170px;
   width: 32px;
   height: 32px;
}
.toronto-blue-jays {
   background: url('mlb-spritesheet-32.png') no-repeat -136px -170px;
   width: 32px;
   height: 32px;
}
.washington-nationals {
   background: url('mlb-spritesheet-32.png') no-repeat -170px -0px;
   width: 32px;
   height: 32px;
}