.arizona-diamondbacks {
   background: url('mlb-spritesheet-48.png') no-repeat -0px -0px;
   width: 48px;
   height: 48px;
}
.atlanta-braves {
   background: url('mlb-spritesheet-48.png') no-repeat -0px -50px;
   width: 48px;
   height: 48px;
}
.baltimore-orioles {
   background: url('mlb-spritesheet-48.png') no-repeat -50px -0px;
   width: 48px;
   height: 48px;
}
.boston-red-sox {
   background: url('mlb-spritesheet-48.png') no-repeat -50px -50px;
   width: 48px;
   height: 48px;
}
.chicago-cubs {
   background: url('mlb-spritesheet-48.png') no-repeat -0px -100px;
   width: 48px;
   height: 48px;
}
.chicago-white-sox {
   background: url('mlb-spritesheet-48.png') no-repeat -50px -100px;
   width: 48px;
   height: 48px;
}
.cincinnati-reds {
   background: url('mlb-spritesheet-48.png') no-repeat -100px -0px;
   width: 48px;
   height: 48px;
}
.cleveland-guardians {
   background: url('mlb-spritesheet-48.png') no-repeat -100px -50px;
   width: 48px;
   height: 48px;
}
.cleveland-indians {
   background: url('mlb-spritesheet-48.png') no-repeat -100px -100px;
   width: 48px;
   height: 48px;
}
.colorado-rockies {
   background: url('mlb-spritesheet-48.png') no-repeat -0px -150px;
   width: 48px;
   height: 48px;
}
.detroit-tigers {
   background: url('mlb-spritesheet-48.png') no-repeat -50px -150px;
   width: 48px;
   height: 48px;
}
.houston-astros {
   background: url('mlb-spritesheet-48.png') no-repeat -100px -150px;
   width: 48px;
   height: 48px;
}
.kansas-city-royals {
   background: url('mlb-spritesheet-48.png') no-repeat -150px -0px;
   width: 48px;
   height: 48px;
}
.los-angeles-angels {
   background: url('mlb-spritesheet-48.png') no-repeat -150px -50px;
   width: 48px;
   height: 48px;
}
.los-angeles-dodgers {
   background: url('mlb-spritesheet-48.png') no-repeat -150px -100px;
   width: 48px;
   height: 48px;
}
.miami-marlins {
   background: url('mlb-spritesheet-48.png') no-repeat -150px -150px;
   width: 48px;
   height: 48px;
}
.milwaukee-brewers {
   background: url('mlb-spritesheet-48.png') no-repeat -0px -200px;
   width: 48px;
   height: 48px;
}
.minnesota-twins {
   background: url('mlb-spritesheet-48.png') no-repeat -50px -200px;
   width: 48px;
   height: 48px;
}
.mlb {
   background: url('mlb-spritesheet-48.png') no-repeat -100px -200px;
   width: 48px;
   height: 48px;
}
.new-york-mets {
   background: url('mlb-spritesheet-48.png') no-repeat -150px -200px;
   width: 48px;
   height: 48px;
}
.new-york-yankees {
   background: url('mlb-spritesheet-48.png') no-repeat -200px -0px;
   width: 48px;
   height: 48px;
}
.oakland-athletics {
   background: url('mlb-spritesheet-48.png') no-repeat -200px -50px;
   width: 48px;
   height: 48px;
}
.philadelphia-phillies {
   background: url('mlb-spritesheet-48.png') no-repeat -200px -100px;
   width: 48px;
   height: 48px;
}
.pittsburgh-pirates {
   background: url('mlb-spritesheet-48.png') no-repeat -200px -150px;
   width: 48px;
   height: 48px;
}
.san-diego-padres {
   background: url('mlb-spritesheet-48.png') no-repeat -200px -200px;
   width: 48px;
   height: 48px;
}
.san-francisco-giants {
   background: url('mlb-spritesheet-48.png') no-repeat -0px -250px;
   width: 48px;
   height: 48px;
}
.seattle-mariners {
   background: url('mlb-spritesheet-48.png') no-repeat -50px -250px;
   width: 48px;
   height: 48px;
}
.st-louis-cardinals {
   background: url('mlb-spritesheet-48.png') no-repeat -100px -250px;
   width: 48px;
   height: 48px;
}
.tampa-bay-rays {
   background: url('mlb-spritesheet-48.png') no-repeat -150px -250px;
   width: 48px;
   height: 48px;
}
.texas-rangers {
   background: url('mlb-spritesheet-48.png') no-repeat -200px -250px;
   width: 48px;
   height: 48px;
}
.toronto-blue-jays {
   background: url('mlb-spritesheet-48.png') no-repeat -250px -0px;
   width: 48px;
   height: 48px;
}
.washington-nationals {
   background: url('mlb-spritesheet-48.png') no-repeat -250px -50px;
   width: 48px;
   height: 48px;
}