.arizona-diamondbacks {
   background: url('mlb-spritesheet-100.png') no-repeat -0px -0px;
   width: 100px;
   height: 100px;
}
.atlanta-braves {
   background: url('mlb-spritesheet-100.png') no-repeat -0px -102px;
   width: 100px;
   height: 100px;
}
.baltimore-orioles {
   background: url('mlb-spritesheet-100.png') no-repeat -102px -0px;
   width: 100px;
   height: 100px;
}
.boston-red-sox {
   background: url('mlb-spritesheet-100.png') no-repeat -102px -102px;
   width: 100px;
   height: 100px;
}
.chicago-cubs {
   background: url('mlb-spritesheet-100.png') no-repeat -0px -204px;
   width: 100px;
   height: 100px;
}
.chicago-white-sox {
   background: url('mlb-spritesheet-100.png') no-repeat -102px -204px;
   width: 100px;
   height: 100px;
}
.cincinnati-reds {
   background: url('mlb-spritesheet-100.png') no-repeat -204px -0px;
   width: 100px;
   height: 100px;
}
.cleveland-guardians {
   background: url('mlb-spritesheet-100.png') no-repeat -204px -102px;
   width: 100px;
   height: 100px;
}
.cleveland-indians {
   background: url('mlb-spritesheet-100.png') no-repeat -204px -204px;
   width: 100px;
   height: 100px;
}
.colorado-rockies {
   background: url('mlb-spritesheet-100.png') no-repeat -0px -306px;
   width: 100px;
   height: 100px;
}
.detroit-tigers {
   background: url('mlb-spritesheet-100.png') no-repeat -102px -306px;
   width: 100px;
   height: 100px;
}
.houston-astros {
   background: url('mlb-spritesheet-100.png') no-repeat -204px -306px;
   width: 100px;
   height: 100px;
}
.kansas-city-royals {
   background: url('mlb-spritesheet-100.png') no-repeat -306px -0px;
   width: 100px;
   height: 100px;
}
.los-angeles-angels {
   background: url('mlb-spritesheet-100.png') no-repeat -306px -102px;
   width: 100px;
   height: 100px;
}
.los-angeles-dodgers {
   background: url('mlb-spritesheet-100.png') no-repeat -306px -204px;
   width: 100px;
   height: 100px;
}
.miami-marlins {
   background: url('mlb-spritesheet-100.png') no-repeat -306px -306px;
   width: 100px;
   height: 100px;
}
.milwaukee-brewers {
   background: url('mlb-spritesheet-100.png') no-repeat -0px -408px;
   width: 100px;
   height: 100px;
}
.minnesota-twins {
   background: url('mlb-spritesheet-100.png') no-repeat -102px -408px;
   width: 100px;
   height: 100px;
}
.MLB {
   background: url('mlb-spritesheet-100.png') no-repeat -204px -408px;
   width: 100px;
   height: 100px;
}
.new-york-mets {
   background: url('mlb-spritesheet-100.png') no-repeat -306px -408px;
   width: 100px;
   height: 100px;
}
.new-york-yankees {
   background: url('mlb-spritesheet-100.png') no-repeat -408px -0px;
   width: 100px;
   height: 100px;
}
.oakland-athletics {
   background: url('mlb-spritesheet-100.png') no-repeat -408px -102px;
   width: 100px;
   height: 100px;
}
.philadelphia-phillies {
   background: url('mlb-spritesheet-100.png') no-repeat -408px -204px;
   width: 100px;
   height: 100px;
}
.pittsburgh-pirates {
   background: url('mlb-spritesheet-100.png') no-repeat -408px -306px;
   width: 100px;
   height: 100px;
}
.san-diego-padres {
   background: url('mlb-spritesheet-100.png') no-repeat -408px -408px;
   width: 100px;
   height: 100px;
}
.san-francisco-giants {
   background: url('mlb-spritesheet-100.png') no-repeat -0px -510px;
   width: 100px;
   height: 100px;
}
.seattle-mariners {
   background: url('mlb-spritesheet-100.png') no-repeat -102px -510px;
   width: 100px;
   height: 100px;
}
.st-louis-cardinals {
   background: url('mlb-spritesheet-100.png') no-repeat -204px -510px;
   width: 100px;
   height: 100px;
}
.tampa-bay-rays {
   background: url('mlb-spritesheet-100.png') no-repeat -306px -510px;
   width: 100px;
   height: 100px;
}
.texas-rangers {
   background: url('mlb-spritesheet-100.png') no-repeat -408px -510px;
   width: 100px;
   height: 100px;
}
.toronto-blue-jays {
   background: url('mlb-spritesheet-100.png') no-repeat -510px -0px;
   width: 100px;
   height: 100px;
}
.washington-nationals {
   background: url('mlb-spritesheet-100.png') no-repeat -510px -102px;
   width: 100px;
   height: 100px;
}