.acs {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -0px -0px;
   width: 48px;
   height: 48px;
}
.atms {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -0px -50px;
   width: 48px;
   height: 48px;
}
.bms {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -50px -0px;
   width: 48px;
   height: 48px;
}
.cls {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -50px -50px;
   width: 48px;
   height: 48px;
}
.cms {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -0px -100px;
   width: 48px;
   height: 48px;
}
.cs {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -50px -100px;
   width: 48px;
   height: 48px;
}
.csr {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -100px -0px;
   width: 48px;
   height: 48px;
}
.dis {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -100px -50px;
   width: 48px;
   height: 48px;
}
.dr {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -100px -100px;
   width: 48px;
   height: 48px;
}
.dvis {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -0px -150px;
   width: 48px;
   height: 48px;
}
.hms {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -50px -150px;
   width: 48px;
   height: 48px;
}
.ims {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -100px -150px;
   width: 48px;
   height: 48px;
}
.ks {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -150px -0px;
   width: 48px;
   height: 48px;
}
.kys {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -150px -50px;
   width: 48px;
   height: 48px;
}
.lvms {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -150px -100px;
   width: 48px;
   height: 48px;
}
.mis {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -150px -150px;
   width: 48px;
   height: 48px;
}
.ms {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -0px -200px;
   width: 48px;
   height: 48px;
}
.nascar {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -50px -200px;
   width: 48px;
   height: 48px;
}
.nascar_white {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -100px -200px;
   width: 48px;
   height: 48px;
}
.nascar-bars {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -150px -200px;
   width: 48px;
   height: 48px;
}
.nascar-white {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -200px -0px;
   width: 48px;
   height: 48px;
}
.nhms {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -200px -50px;
   width: 48px;
   height: 48px;
}
.nvs {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -200px -100px;
   width: 48px;
   height: 48px;
}
.nws {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -200px -150px;
   width: 48px;
   height: 48px;
}
.pir {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -200px -200px;
   width: 48px;
   height: 48px;
}
.pr {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -0px -250px;
   width: 48px;
   height: 48px;
}
.rir {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -50px -250px;
   width: 48px;
   height: 48px;
}
.son {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -100px -250px;
   width: 48px;
   height: 48px;
}
.tms {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -150px -250px;
   width: 48px;
   height: 48px;
}
.tss {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -200px -250px;
   width: 48px;
   height: 48px;
}
.wgi {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-48.png') no-repeat -250px -0px;
   width: 48px;
   height: 48px;
}