.acs {
   background: url('nascar-spritesheet-100.png') no-repeat -0px -0px;
   width: 100px;
   height: 100px;
}
.atms {
   background: url('nascar-spritesheet-100.png') no-repeat -0px -102px;
   width: 100px;
   height: 100px;
}
.bms {
   background: url('nascar-spritesheet-100.png') no-repeat -102px -0px;
   width: 100px;
   height: 100px;
}
.cls {
   background: url('nascar-spritesheet-100.png') no-repeat -102px -102px;
   width: 100px;
   height: 100px;
}
.cms {
   background: url('nascar-spritesheet-100.png') no-repeat -0px -204px;
   width: 100px;
   height: 100px;
}
.cs {
   background: url('nascar-spritesheet-100.png') no-repeat -102px -204px;
   width: 100px;
   height: 100px;
}
.csr {
   background: url('nascar-spritesheet-100.png') no-repeat -204px -0px;
   width: 100px;
   height: 100px;
}
.dis {
   background: url('nascar-spritesheet-100.png') no-repeat -204px -102px;
   width: 100px;
   height: 100px;
}
.dr {
   background: url('nascar-spritesheet-100.png') no-repeat -204px -204px;
   width: 100px;
   height: 100px;
}
.dvis {
   background: url('nascar-spritesheet-100.png') no-repeat -0px -306px;
   width: 100px;
   height: 100px;
}
.hms {
   background: url('nascar-spritesheet-100.png') no-repeat -102px -306px;
   width: 100px;
   height: 100px;
}
.ims {
   background: url('nascar-spritesheet-100.png') no-repeat -204px -306px;
   width: 100px;
   height: 100px;
}
.ks {
   background: url('nascar-spritesheet-100.png') no-repeat -306px -0px;
   width: 100px;
   height: 100px;
}
.kys {
   background: url('nascar-spritesheet-100.png') no-repeat -306px -102px;
   width: 100px;
   height: 100px;
}
.lvms {
   background: url('nascar-spritesheet-100.png') no-repeat -306px -204px;
   width: 100px;
   height: 100px;
}
.mis {
   background: url('nascar-spritesheet-100.png') no-repeat -306px -306px;
   width: 100px;
   height: 100px;
}
.ms {
   background: url('nascar-spritesheet-100.png') no-repeat -0px -408px;
   width: 100px;
   height: 100px;
}
.nascar {
   background: url('nascar-spritesheet-100.png') no-repeat -102px -408px;
   width: 100px;
   height: 100px;
}
.nascar_white {
   background: url('nascar-spritesheet-100.png') no-repeat -204px -408px;
   width: 100px;
   height: 100px;
}
.nascar-bars {
   background: url('nascar-spritesheet-100.png') no-repeat -306px -408px;
   width: 100px;
   height: 100px;
}
.nascar-white {
   background: url('nascar-spritesheet-100.png') no-repeat -408px -0px;
   width: 100px;
   height: 100px;
}
.nhms {
   background: url('nascar-spritesheet-100.png') no-repeat -408px -102px;
   width: 100px;
   height: 100px;
}
.nvs {
   background: url('nascar-spritesheet-100.png') no-repeat -408px -204px;
   width: 100px;
   height: 100px;
}
.nws {
   background: url('nascar-spritesheet-100.png') no-repeat -408px -306px;
   width: 100px;
   height: 100px;
}
.pir {
   background: url('nascar-spritesheet-100.png') no-repeat -408px -408px;
   width: 100px;
   height: 100px;
}
.pr {
   background: url('nascar-spritesheet-100.png') no-repeat -0px -510px;
   width: 100px;
   height: 100px;
}
.rir {
   background: url('nascar-spritesheet-100.png') no-repeat -102px -510px;
   width: 100px;
   height: 100px;
}
.son {
   background: url('nascar-spritesheet-100.png') no-repeat -204px -510px;
   width: 100px;
   height: 100px;
}
.tms {
   background: url('nascar-spritesheet-100.png') no-repeat -306px -510px;
   width: 100px;
   height: 100px;
}
.tss {
   background: url('nascar-spritesheet-100.png') no-repeat -408px -510px;
   width: 100px;
   height: 100px;
}
.wgi {
   background: url('nascar-spritesheet-100.png') no-repeat -510px -0px;
   width: 100px;
   height: 100px;
}