.nfl {
   background: url('nfl-spritesheet-24.png') no-repeat -0px -0px;
   width: 24px;
   height: 24px;
}
.nfl49 {
   background: url('nfl-spritesheet-24.png') no-repeat -0px -26px;
   width: 24px;
   height: 24px;
}
.nfl100 {
   background: url('nfl-spritesheet-24.png') no-repeat -26px -0px;
   width: 24px;
   height: 24px;
}
.nflbear {
   background: url('nfl-spritesheet-24.png') no-repeat -26px -26px;
   width: 24px;
   height: 24px;
}
.nflben {
   background: url('nfl-spritesheet-24.png') no-repeat -0px -52px;
   width: 24px;
   height: 24px;
}
.nflbil {
   background: url('nfl-spritesheet-24.png') no-repeat -26px -52px;
   width: 24px;
   height: 24px;
}
.nflbrn {
   background: url('nfl-spritesheet-24.png') no-repeat -52px -0px;
   width: 24px;
   height: 24px;
}
.nflbron {
   background: url('nfl-spritesheet-24.png') no-repeat -52px -26px;
   width: 24px;
   height: 24px;
}
.nflbuc {
   background: url('nfl-spritesheet-24.png') no-repeat -52px -52px;
   width: 24px;
   height: 24px;
}
.nflcar {
   background: url('nfl-spritesheet-24.png') no-repeat -0px -78px;
   width: 24px;
   height: 24px;
}
.nflchf {
   background: url('nfl-spritesheet-24.png') no-repeat -26px -78px;
   width: 24px;
   height: 24px;
}
.nflchg {
   background: url('nfl-spritesheet-24.png') no-repeat -52px -78px;
   width: 24px;
   height: 24px;
}
.nflcolt {
   background: url('nfl-spritesheet-24.png') no-repeat -78px -0px;
   width: 24px;
   height: 24px;
}
.nflcom {
   background: url('nfl-spritesheet-24.png') no-repeat -78px -26px;
   width: 24px;
   height: 24px;
}
.nflcow {
   background: url('nfl-spritesheet-24.png') no-repeat -78px -52px;
   width: 24px;
   height: 24px;
}
.nfldol {
   background: url('nfl-spritesheet-24.png') no-repeat -78px -78px;
   width: 24px;
   height: 24px;
}
.nfleag {
   background: url('nfl-spritesheet-24.png') no-repeat -0px -104px;
   width: 24px;
   height: 24px;
}
.nflfal {
   background: url('nfl-spritesheet-24.png') no-repeat -26px -104px;
   width: 24px;
   height: 24px;
}
.nflgia {
   background: url('nfl-spritesheet-24.png') no-repeat -52px -104px;
   width: 24px;
   height: 24px;
}
.nfljag {
   background: url('nfl-spritesheet-24.png') no-repeat -78px -104px;
   width: 24px;
   height: 24px;
}
.nfljet {
   background: url('nfl-spritesheet-24.png') no-repeat -104px -0px;
   width: 24px;
   height: 24px;
}
.nfllion {
   background: url('nfl-spritesheet-24.png') no-repeat -104px -26px;
   width: 24px;
   height: 24px;
}
.nflpack {
   background: url('nfl-spritesheet-24.png') no-repeat -104px -52px;
   width: 24px;
   height: 24px;
}
.nflpan {
   background: url('nfl-spritesheet-24.png') no-repeat -104px -78px;
   width: 24px;
   height: 24px;
}
.nflpat {
   background: url('nfl-spritesheet-24.png') no-repeat -104px -104px;
   width: 24px;
   height: 24px;
}
.nflraid {
   background: url('nfl-spritesheet-24.png') no-repeat -0px -130px;
   width: 24px;
   height: 24px;
}
.nflram {
   background: url('nfl-spritesheet-24.png') no-repeat -26px -130px;
   width: 24px;
   height: 24px;
}
.nflrav {
   background: url('nfl-spritesheet-24.png') no-repeat -52px -130px;
   width: 24px;
   height: 24px;
}
.nflsb {
   background: url('nfl-spritesheet-24.png') no-repeat -78px -130px;
   width: 24px;
   height: 24px;
}
.nflsb13 {
   background: url('nfl-spritesheet-24.png') no-repeat -104px -130px;
   width: 24px;
   height: 24px;
}
.nflsb14 {
   background: url('nfl-spritesheet-24.png') no-repeat -130px -0px;
   width: 24px;
   height: 24px;
}
.nflsb15 {
   background: url('nfl-spritesheet-24.png') no-repeat -130px -26px;
   width: 24px;
   height: 24px;
}
.nflsb16 {
   background: url('nfl-spritesheet-24.png') no-repeat -130px -52px;
   width: 24px;
   height: 24px;
}
.nflsb17 {
   background: url('nfl-spritesheet-24.png') no-repeat -130px -78px;
   width: 24px;
   height: 24px;
}
.nflsb18 {
   background: url('nfl-spritesheet-24.png') no-repeat -130px -104px;
   width: 24px;
   height: 24px;
}
.nflsb19 {
   background: url('nfl-spritesheet-24.png') no-repeat -130px -130px;
   width: 24px;
   height: 24px;
}
.nflsb20 {
   background: url('nfl-spritesheet-24.png') no-repeat -0px -156px;
   width: 24px;
   height: 24px;
}
.nflsb21 {
   background: url('nfl-spritesheet-24.png') no-repeat -26px -156px;
   width: 24px;
   height: 24px;
}
.nflsb22 {
   background: url('nfl-spritesheet-24.png') no-repeat -52px -156px;
   width: 24px;
   height: 24px;
}
.nflsb23 {
   background: url('nfl-spritesheet-24.png') no-repeat -78px -156px;
   width: 24px;
   height: 24px;
}
.nflsea {
   background: url('nfl-spritesheet-24.png') no-repeat -104px -156px;
   width: 24px;
   height: 24px;
}
.nflste {
   background: url('nfl-spritesheet-24.png') no-repeat -130px -156px;
   width: 24px;
   height: 24px;
}
.nflsts {
   background: url('nfl-spritesheet-24.png') no-repeat -156px -0px;
   width: 24px;
   height: 24px;
}
.nfltex {
   background: url('nfl-spritesheet-24.png') no-repeat -156px -26px;
   width: 24px;
   height: 24px;
}
.nfltit {
   background: url('nfl-spritesheet-24.png') no-repeat -156px -52px;
   width: 24px;
   height: 24px;
}
.nflvik {
   background: url('nfl-spritesheet-24.png') no-repeat -156px -78px;
   width: 24px;
   height: 24px;
}