.nhl {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -0px -0px;
   width: 48px;
   height: 48px;
}
.nhl100 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -0px -50px;
   width: 48px;
   height: 48px;
}
.nhlava {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -50px -0px;
   width: 48px;
   height: 48px;
}
.nhlbjac {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -50px -50px;
   width: 48px;
   height: 48px;
}
.nhlblack {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -0px -100px;
   width: 48px;
   height: 48px;
}
.nhlblu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -50px -100px;
   width: 48px;
   height: 48px;
}
.nhlbru {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -100px -0px;
   width: 48px;
   height: 48px;
}
.nhlca {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -100px -50px;
   width: 48px;
   height: 48px;
}
.nhlcanu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -100px -100px;
   width: 48px;
   height: 48px;
}
.nhlcap {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -0px -150px;
   width: 48px;
   height: 48px;
}
.nhlcc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -50px -150px;
   width: 48px;
   height: 48px;
}
.nhlcoy {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -100px -150px;
   width: 48px;
   height: 48px;
}
.nhldev {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -150px -0px;
   width: 48px;
   height: 48px;
}
.nhlduck {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -150px -50px;
   width: 48px;
   height: 48px;
}
.nhlflam {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -150px -100px;
   width: 48px;
   height: 48px;
}
.nhlfly {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -150px -150px;
   width: 48px;
   height: 48px;
}
.nhlgok {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -0px -200px;
   width: 48px;
   height: 48px;
}
.nhlhc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -50px -200px;
   width: 48px;
   height: 48px;
}
.nhlhc16 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -100px -200px;
   width: 48px;
   height: 48px;
}
.nhlhc19 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -150px -200px;
   width: 48px;
   height: 48px;
}
.nhlhur {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -200px -0px;
   width: 48px;
   height: 48px;
}
.nhlisl {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -200px -50px;
   width: 48px;
   height: 48px;
}
.nhljet {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -200px -100px;
   width: 48px;
   height: 48px;
}
.nhlking {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -200px -150px;
   width: 48px;
   height: 48px;
}
.nhlkrak {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -200px -200px;
   width: 48px;
   height: 48px;
}
.nhlligh {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -0px -250px;
   width: 48px;
   height: 48px;
}
.nhlmap {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -50px -250px;
   width: 48px;
   height: 48px;
}
.nhloil {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -100px -250px;
   width: 48px;
   height: 48px;
}
.nhlpan {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -150px -250px;
   width: 48px;
   height: 48px;
}
.nhlpen {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -200px -250px;
   width: 48px;
   height: 48px;
}
.nhlpred {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -250px -0px;
   width: 48px;
   height: 48px;
}
.nhlrang {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -250px -50px;
   width: 48px;
   height: 48px;
}
.nhlsab {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -250px -100px;
   width: 48px;
   height: 48px;
}
.nhlsc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -250px -150px;
   width: 48px;
   height: 48px;
}
.nhlsc15 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -250px -200px;
   width: 48px;
   height: 48px;
}
.nhlsc16 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -250px -250px;
   width: 48px;
   height: 48px;
}
.nhlsc17 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -0px -300px;
   width: 48px;
   height: 48px;
}
.nhlsc18 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -50px -300px;
   width: 48px;
   height: 48px;
}
.nhlsc19 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -100px -300px;
   width: 48px;
   height: 48px;
}
.nhlsc20 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -150px -300px;
   width: 48px;
   height: 48px;
}
.nhlsc21 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -200px -300px;
   width: 48px;
   height: 48px;
}
.nhlsc22 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -250px -300px;
   width: 48px;
   height: 48px;
}
.nhlsen {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -300px -0px;
   width: 48px;
   height: 48px;
}
.nhlshar {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -300px -50px;
   width: 48px;
   height: 48px;
}
.nhlss {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -300px -100px;
   width: 48px;
   height: 48px;
}
.nhlss15 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -300px -150px;
   width: 48px;
   height: 48px;
}
.nhlss17 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -300px -200px;
   width: 48px;
   height: 48px;
}
.nhlss22 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -300px -250px;
   width: 48px;
   height: 48px;
}
.nhlss23 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -300px -300px;
   width: 48px;
   height: 48px;
}
.nhlstar {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -0px -350px;
   width: 48px;
   height: 48px;
}
.nhlwc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -50px -350px;
   width: 48px;
   height: 48px;
}
.nhlwc16 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -100px -350px;
   width: 48px;
   height: 48px;
}
.nhlwc19 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -150px -350px;
   width: 48px;
   height: 48px;
}
.nhlwc20 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -200px -350px;
   width: 48px;
   height: 48px;
}
.nhlwc22 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -250px -350px;
   width: 48px;
   height: 48px;
}
.nhlwild {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -300px -350px;
   width: 48px;
   height: 48px;
}
.nhlwing {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-48.png') no-repeat -350px -0px;
   width: 48px;
   height: 48px;
}