.nhlwc22 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -0px -0px;
   width: 24px;
   height: 24px;
}
.nhlwild {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -0px -26px;
   width: 24px;
   height: 24px;
}
.nhlwing {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -26px -0px;
   width: 24px;
   height: 24px;
}
.nhl {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -26px -26px;
   width: 24px;
   height: 24px;
}
.nhl100 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -0px -52px;
   width: 24px;
   height: 24px;
}
.nhlava {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -26px -52px;
   width: 24px;
   height: 24px;
}
.nhlbjac {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -52px -0px;
   width: 24px;
   height: 24px;
}
.nhlblack {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -52px -26px;
   width: 24px;
   height: 24px;
}
.nhlblu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -52px -52px;
   width: 24px;
   height: 24px;
}
.nhlbru {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -0px -78px;
   width: 24px;
   height: 24px;
}
.nhlca {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -26px -78px;
   width: 24px;
   height: 24px;
}
.nhlcanu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -52px -78px;
   width: 24px;
   height: 24px;
}
.nhlcap {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -78px -0px;
   width: 24px;
   height: 24px;
}
.nhlcc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -78px -26px;
   width: 24px;
   height: 24px;
}
.nhlcoy {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -78px -52px;
   width: 24px;
   height: 24px;
}
.nhldev {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -78px -78px;
   width: 24px;
   height: 24px;
}
.nhlduck {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -0px -104px;
   width: 24px;
   height: 24px;
}
.nhlflam {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -26px -104px;
   width: 24px;
   height: 24px;
}
.nhlfly {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -52px -104px;
   width: 24px;
   height: 24px;
}
.nhlgok {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -78px -104px;
   width: 24px;
   height: 24px;
}
.nhlhc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -104px -0px;
   width: 24px;
   height: 24px;
}
.nhlhc16 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -104px -26px;
   width: 24px;
   height: 24px;
}
.nhlhc19 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -104px -52px;
   width: 24px;
   height: 24px;
}
.nhlhur {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -104px -78px;
   width: 24px;
   height: 24px;
}
.nhlisl {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -104px -104px;
   width: 24px;
   height: 24px;
}
.nhljet {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -0px -130px;
   width: 24px;
   height: 24px;
}
.nhlking {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -26px -130px;
   width: 24px;
   height: 24px;
}
.nhlkrak {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -52px -130px;
   width: 24px;
   height: 24px;
}
.nhlligh {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -78px -130px;
   width: 24px;
   height: 24px;
}
.nhlmap {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -104px -130px;
   width: 24px;
   height: 24px;
}
.nhloil {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -130px -0px;
   width: 24px;
   height: 24px;
}
.nhlpan {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -130px -26px;
   width: 24px;
   height: 24px;
}
.nhlpen {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -130px -52px;
   width: 24px;
   height: 24px;
}
.nhlpred {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -130px -78px;
   width: 24px;
   height: 24px;
}
.nhlrang {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -130px -104px;
   width: 24px;
   height: 24px;
}
.nhlsab {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -130px -130px;
   width: 24px;
   height: 24px;
}
.nhlsc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -0px -156px;
   width: 24px;
   height: 24px;
}
.nhlsc15 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -26px -156px;
   width: 24px;
   height: 24px;
}
.nhlsc16 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -52px -156px;
   width: 24px;
   height: 24px;
}
.nhlsc17 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -78px -156px;
   width: 24px;
   height: 24px;
}
.nhlsc18 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -104px -156px;
   width: 24px;
   height: 24px;
}
.nhlsc19 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -130px -156px;
   width: 24px;
   height: 24px;
}
.nhlsc20 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -156px -0px;
   width: 24px;
   height: 24px;
}
.nhlsc21 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -156px -26px;
   width: 24px;
   height: 24px;
}
.nhlsc22 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -156px -52px;
   width: 24px;
   height: 24px;
}
.nhlsen {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -156px -78px;
   width: 24px;
   height: 24px;
}
.nhlshar {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -156px -104px;
   width: 24px;
   height: 24px;
}
.nhlss {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -156px -130px;
   width: 24px;
   height: 24px;
}
.nhlss15 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -156px -156px;
   width: 24px;
   height: 24px;
}
.nhlss17 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -0px -182px;
   width: 24px;
   height: 24px;
}
.nhlss22 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -26px -182px;
   width: 24px;
   height: 24px;
}
.nhlss23 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -52px -182px;
   width: 24px;
   height: 24px;
}
.nhlstar {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -78px -182px;
   width: 24px;
   height: 24px;
}
.nhlwc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -104px -182px;
   width: 24px;
   height: 24px;
}
.nhlwc16 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -130px -182px;
   width: 24px;
   height: 24px;
}
.nhlwc19 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -156px -182px;
   width: 24px;
   height: 24px;
}
.nhlwc20 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-24.png') no-repeat -182px -0px;
   width: 24px;
   height: 24px;
}