.nhl {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -0px -0px;
   width: 64px;
   height: 64px;
}
.nhl100 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -0px -66px;
   width: 64px;
   height: 64px;
}
.nhlava {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -66px -0px;
   width: 64px;
   height: 64px;
}
.nhlbjac {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -66px -66px;
   width: 64px;
   height: 64px;
}
.nhlblack {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -0px -132px;
   width: 64px;
   height: 64px;
}
.nhlblu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -66px -132px;
   width: 64px;
   height: 64px;
}
.nhlbru {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -132px -0px;
   width: 64px;
   height: 64px;
}
.nhlca {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -132px -66px;
   width: 64px;
   height: 64px;
}
.nhlcanu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -132px -132px;
   width: 64px;
   height: 64px;
}
.nhlcap {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -0px -198px;
   width: 64px;
   height: 64px;
}
.nhlcc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -66px -198px;
   width: 64px;
   height: 64px;
}
.nhlcoy {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -132px -198px;
   width: 64px;
   height: 64px;
}
.nhldev {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -198px -0px;
   width: 64px;
   height: 64px;
}
.nhlduck {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -198px -66px;
   width: 64px;
   height: 64px;
}
.nhlflam {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -198px -132px;
   width: 64px;
   height: 64px;
}
.nhlfly {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -198px -198px;
   width: 64px;
   height: 64px;
}
.nhlgok {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -0px -264px;
   width: 64px;
   height: 64px;
}
.nhlhc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -66px -264px;
   width: 64px;
   height: 64px;
}
.nhlhc16 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -132px -264px;
   width: 64px;
   height: 64px;
}
.nhlhc19 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -198px -264px;
   width: 64px;
   height: 64px;
}
.nhlhur {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -264px -0px;
   width: 64px;
   height: 64px;
}
.nhlisl {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -264px -66px;
   width: 64px;
   height: 64px;
}
.nhljet {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -264px -132px;
   width: 64px;
   height: 64px;
}
.nhlking {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -264px -198px;
   width: 64px;
   height: 64px;
}
.nhlkrak {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -264px -264px;
   width: 64px;
   height: 64px;
}
.nhlligh {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -0px -330px;
   width: 64px;
   height: 64px;
}
.nhlmap {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -66px -330px;
   width: 64px;
   height: 64px;
}
.nhloil {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -132px -330px;
   width: 64px;
   height: 64px;
}
.nhlpan {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -198px -330px;
   width: 64px;
   height: 64px;
}
.nhlpen {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -264px -330px;
   width: 64px;
   height: 64px;
}
.nhlpred {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -330px -0px;
   width: 64px;
   height: 64px;
}
.nhlrang {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -330px -66px;
   width: 64px;
   height: 64px;
}
.nhlsab {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -330px -132px;
   width: 64px;
   height: 64px;
}
.nhlsc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -330px -198px;
   width: 64px;
   height: 64px;
}
.nhlsc15 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -330px -264px;
   width: 64px;
   height: 64px;
}
.nhlsc16 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -330px -330px;
   width: 64px;
   height: 64px;
}
.nhlsc17 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -0px -396px;
   width: 64px;
   height: 64px;
}
.nhlsc18 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -66px -396px;
   width: 64px;
   height: 64px;
}
.nhlsc19 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -132px -396px;
   width: 64px;
   height: 64px;
}
.nhlsc20 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -198px -396px;
   width: 64px;
   height: 64px;
}
.nhlsc21 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -264px -396px;
   width: 64px;
   height: 64px;
}
.nhlsc22 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -330px -396px;
   width: 64px;
   height: 64px;
}
.nhlsen {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -396px -0px;
   width: 64px;
   height: 64px;
}
.nhlshar {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -396px -66px;
   width: 64px;
   height: 64px;
}
.nhlss {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -396px -132px;
   width: 64px;
   height: 64px;
}
.nhlss15 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -396px -198px;
   width: 64px;
   height: 64px;
}
.nhlss17 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -396px -264px;
   width: 64px;
   height: 64px;
}
.nhlss22 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -396px -330px;
   width: 64px;
   height: 64px;
}
.nhlss23 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -396px -396px;
   width: 64px;
   height: 64px;
}
.nhlstar {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -0px -462px;
   width: 64px;
   height: 64px;
}
.nhlwc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -66px -462px;
   width: 64px;
   height: 64px;
}
.nhlwc16 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -132px -462px;
   width: 64px;
   height: 64px;
}
.nhlwc19 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -198px -462px;
   width: 64px;
   height: 64px;
}
.nhlwc20 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -264px -462px;
   width: 64px;
   height: 64px;
}
.nhlwc22 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -330px -462px;
   width: 64px;
   height: 64px;
}
.nhlwild {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -396px -462px;
   width: 64px;
   height: 64px;
}
.nhlwing {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_r2.png') no-repeat -462px -0px;
   width: 64px;
   height: 64px;
}