<ul class="tabs" data-tab>
    <li class="tab is-active">
        <a class="tab-title" href="#tab-description">{{lang 'products.description'}}</a>
    </li>
    <li class="tab">
        <a class="tab-title" href="#tab-details">Print/Frame Details</a>
    </li>
	<li class="tab">
		<a class="tab-title" href="#tab-xl">Oversized Panoramas</a>
	</li>
    {{#if product.warranty}}
        <li class="tab {{#unless product.description}}is-active{{/unless}}">
            <a class="tab-title" href="#tab-warranty">{{lang 'products.warranty'}}</a>
        </li>
    {{/if}}
    {{#all product.custom_fields theme_settings.show_custom_fields_tabs}}
        <li class="tab">
            <a class="tab-title"
               href="#tab-{{dashcase (lowercase (sanitize theme_settings.pdp-custom-fields-tab-label))}}"
            >
                {{sanitize theme_settings.pdp-custom-fields-tab-label}}
            </a>
        </li>
    {{/all}}
    {{#all settings.show_product_reviews theme_settings.show_product_reviews product.reviews.total}}
        <li class="tab">
            <a class="tab-title productView-reviewTabLink" href="#tab-reviews">{{lang 'products.reviews.header' total=product.reviews.total}}</a>
        </li>
    {{/all}}
</ul>
<div class="tabs-contents">
    <div class="tab-content is-active" id="tab-description">
        {{{product.description}}}
    </div>
    <div class="tab-content" id="tab-details">
        <h3>The Print</h3>
        <p>Our panoramic prints begin as a high definition photo that is printed on heavy art stock paper to resist waviness and warping due to heat and humidity.  The print is then topped with a UV resistant coating to minimize fading. The panoramic prints are available as an unframed poster or professionally framed in 3 different frame styles. Our panoramic posters measure 40" wide x 13.5" tall, which is typically not a stocked frame size, so you may want to consider purchasing it framed from us to avoid the time and expense of custom framing. We additionally offer smaller framed prints in two additional sizes.</p>
        <hr>
        <h3>Professionally Framed</h3>
        <p>Framing not only extends the life of your print, it showcases your fandom for all to see. If you compare our prices with those of a custom frame shop, you'll find we are very competitive and often times lower as we buy our frame materials in bulk and pass that savings on to you. When framing we consider that the product will have to endure the rigors of shipping and use only high quality moulding and tempered glass, which doesn’t scratch or have large jagged edges when broken.</p>
        <hr>
        <h3>Frame Details</h3>
        <ul>
			<li><strong>16 5/8" wide x 8 1/8" tall:</strong> The print is framed with black 7/8" wide flat profile moulding. It is topped with clear glass and ready-to-hang with two sawtooth hangers.</li>
			<li><strong>20 3/8" wide x 12 1/2" tall:</strong> The print contains a beveled-cut mat and a black frame made with 7/8" wide flat profile moulding. It is topped with clear glass and ready-to-hang with two sawtooth hangers.</li>
            <li><strong>Standard Frame - 40 1/4" wide x 13 3/4" tall:</strong> The frame moulding is a rounded glossy black 3/8" aluminum. Ready-to-hang with attached picture wire.</li>
            <li><strong>Select Frame - 41 1/2" wide x 15" tall:</strong> The print has a mat in the team's primary color (if applicable). The frame moulding is a 1 1/8" wide flat profile. Ready-to-hang with attached picture wire.</li>
            <li><strong>Deluxe Frame - 44" wide x 18" tall:</strong> The print has a border in the team's secondary color (if applicable), and a bevel-cut mat in the team's primary color (if applicable). The frame moulding is a 1 1/8" wide contoured aluminum. Ready-to-hang with attached picture wire.</li>
        </ul>
        <hr>
        <h3>Officially Licensed</h3>
        <p>All sports panoramas are officially licensed, which means we've passed strict requirements for quality and ethics.</p>
        <ul>
            <li>We pay royalties that support scholarships and initiatives at the universities and professional leagues.</li>
            <li>We follow official team style guides, which means our logos and mat colors match those specified by the team or university. The panorama will match your jersey and fan cave decor.</li>
            <li>Our production has been audited and certified to pass fair labor standards. All our products are printed and framed in the USA.</li>
        </ul>
	</div>
	<div class="tab-content" id="tab-xl">
		<p>Our oversized panoramas are all photo. There is no title, text, borders or logos, just the image. If you want to feel like you are actually in the stadium, these are the panoramas for you. If you want to boldly proclaim your fandom and leave no doubt as to which team you support, these are the panoramas for you. At 63" wide and 21" tall, our oversized panoramas cover some serious wall space and provide a striking focal point for your home, office or fan cave.</p>
		<p>Our oversized panoramas are available in two formats: canvas and aluminum. Each is shipped ready to hang and are suggested to be used as indoor decor only. No framing is required as each is equipped with a rear-mounted frame. <strong>Please note that all oversized panoramas are made-to-order. Please allow 3 business days for processing and production prior to shipping.</strong></p>
		<hr>
		<h3>Canvas</h3>
		<p>Our museum quality canvases are crafted out of materials designed to last a lifetime. The photo is printed directly on to high-quality archival canvas with UV-resistant solvent ink and then stretched over a 1 1/2" thick, kiln dried pine wood frame. This is a Gallery Wrapped Canvas that is designed to be displayed without a frame. It looks finished from any angle as the image wraps around the edge of the frame and is stapled on back so no staples or unprinted edges can be seen.</p>
		<ul>
			<li><strong>Dimensions: </strong>63" wide x 21" tall x 1 1/2" depth</li>
		    <li><strong>Care: </strong>To clean, gently dust with a soft dry cloth.</li>
		</ul>
		<hr>
		<h3>Metal</h3>
		<p>Metal artwork is becoming exceptionally popular thanks to its durability and stunning detail. With metal prints, the photo is printed directly to .04" thick aluminum using archival quality, UV resistant, heat cured inks in a high-definition printing system. This aluminum artwork is then applied to a thin Zebra Board for stiffness and durability and attached to a black 1 1/4" thick rear-mounted frame that is flush with the edge of the metal print.</p>
		<ul>
			<li><strong>Dimensions: </strong>63" wide x 21" tall x 1 1/4" depth</li>
			<li><strong>Finish: </strong>Satin</li>
			<li><strong>Care: </strong>To clean, gently dust with a soft dry cloth.</li>
		</ul>
	</div>
        
    {{#if product.warranty}}
        <div class="tab-content {{#unless product.description}}is-active{{/unless}}" id="tab-warranty">
            {{{product.warranty}}}
        </div>
    {{/if}}
    {{#all product.custom_fields theme_settings.show_custom_fields_tabs}}
      <div class="tab-content" id="tab-{{dashcase (lowercase (sanitize theme_settings.pdp-custom-fields-tab-label))}}">
         <dl class="productView-info">
            {{> components/products/custom-fields }}
         </dl>
      </div>
    {{/all}}
    {{#all settings.show_product_reviews theme_settings.show_product_reviews}}
       <div class="tab-content" id="tab-reviews">
           {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
       </div>
    {{/all}}
</div>

<div class="tabs-mobile">
	<div class="tab-mobile">
		<h3 class="tab-title-mobile">Description</h3>
		<div class="tab-content-mobile" id="tab-description-mobile">
			{{{product.description}}}
		</div>
	</div>
	<div class="tab-mobile">
		<h3 class="tab-title-mobile">Print/Frame Details</h3>
		<div class="tab-content-mobile" id="tab-details-mobile">
			<h3>The Print</h3>
			<p>Our panoramic prints begin as a high definition photo that is printed on heavy art stock paper to resist waviness and warping due to heat and humidity.  The print is then topped with a UV resistant coating to minimize fading. The panoramic prints are available as an unframed poster or professionally framed in 3 different frame styles. Our panoramic posters measure 40" wide x 13.5" tall, which is typically not a stocked frame size, so you may want to consider purchasing it framed from us to avoid the time and expense of custom framing. We additionally offer smaller framed prints in two additional sizes.</p>
			<hr>
			<h3>Professionally Framed</h3>
			<p>Framing not only extends the life of your print, it showcases your fandom for all to see. If you compare our prices with those of a custom frame shop, you'll find we are very competitive and often times lower as we buy our frame materials in bulk and pass that savings on to you. When framing we consider that the product will have to endure the rigors of shipping and use only high quality moulding and tempered glass, which doesn’t scratch or have large jagged edges when broken.</p>
			<hr>
			<h3>Frame Details</h3>
			<ul>
				<li><strong>16 5/8" wide x 8 1/8" tall:</strong> The print is framed with black 7/8" wide flat profile moulding. It is topped with clear glass and ready-to-hang with two sawtooth hangers.</li>
				<li><strong>20 3/8" wide x 12 1/2" tall:</strong> The print contains a beveled-cut mat and a black frame made with 7/8" wide flat profile moulding. It is topped with clear glass and ready-to-hang with two sawtooth hangers.</li>
				<li><strong>Standard Frame - 40 1/4" wide x 13 3/4" tall:</strong> The frame moulding is a rounded glossy black 3/8" aluminum. Ready-to-hang with attached picture wire.</li>
				<li><strong>Select Frame - 42" wide x 15 1/2" tall:</strong> The print has a mat in the team's primary color (if applicable). The frame moulding is a 1 1/8" wide flat profile. Ready-to-hang with two sawtooth hangers.</li>
				<li><strong>Deluxe Frame - 44" wide x 18" tall:</strong> The print has a border in the team's secondary color (if applicable), and a bevel-cut mat in the team's primary color (if applicable). The frame moulding is a 1 1/8" wide contoured aluminum. Ready-to-hang with attached picture wire.</li>
			</ul>
			<hr>
			<h3>Officially Licensed</h3>
			<p>All sports panoramas are officially licensed, which means we've passed strict requirements for quality and ethics.</p>
			<ul>
				<li>We pay royalties that support scholarships and initiatives at the universities and professional leagues.</li>
				<li>We follow official team style guides, which means our logos and mat colors match those specified by the team or university. The panorama will match your jersey and fan cave decor.</li>
				<li>Our production has been audited and certified to pass fair labor standards. All our products are printed and framed in the USA.</li>
			</ul>
		</div>
	</div>
	<div class="tab-mobile">
		<h3 class="tab-title-mobile">Oversized Panoramas</h3>
		<div class="tab-content-mobile" id="tab-xl-mobile">
			<p>Our oversized panoramas are all photo. There is no title, text, borders or logos, just the image. If you want to feel like you are actually in the stadium, these are the panoramas for you. If you want to boldly proclaim your fandom and leave no doubt as to which team you support, these are the panoramas for you. At 63" wide and 21" tall, our oversized panoramas cover some serious wall space and provide a striking focal point for your home, office or fan cave.</p>
			<p>Our oversized panoramas are available in two formats: canvas and aluminum. Each is shipped ready to hang and are suggested to be used as indoor decor only. No framing is required as each is equipped with a rear-mounted frame. <strong>Please note that all oversized panoramas are made-to-order. Please allow 3 business days for processing and production prior to shipping.</strong></p>
			<hr>
			<h3>Canvas</h3>
			<p>Our museum quality canvases are crafted out of materials designed to last a lifetime. The photo is printed directly on to high-quality archival canvas with UV-resistant solvent ink and then stretched over a 1 1/2" thick, kiln dried pine wood frame. This is a Gallery Wrapped Canvas that is designed to be displayed without a frame. It looks finished from any angle as the image wraps around the edge of the frame and is stapled on back so no staples or unprinted edges can be seen.</p>
			<ul>
				<li><strong>Dimensions: </strong>63" wide x 21" tall x 1 1/2" depth</li>
				<li><strong>Care: </strong>To clean, gently dust with a soft dry cloth.</li>
			</ul>
			<hr>
			<h3>Metal</h3>
			<p>Metal artwork is becoming exceptionally popular thanks to its durability and stunning detail. With metal prints, the photo is printed directly to .04" thick aluminum using archival quality, UV resistant, heat cured inks in a high-definition printing system. This aluminum artwork is then applied to a thin Zebra Board for stiffness and durability and attached to a black 1 1/4" thick rear-mounted frame that is flush with the edge of the metal print.</p>
			<ul>
				<li><strong>Dimensions: </strong>63" wide x 21" tall x 1 1/4" depth</li>
				<li><strong>Finish: </strong>Satin</li>
				<li><strong>Care: </strong>To clean, gently dust with a soft dry cloth.</li>
			</ul>
		</div>
	</div>
	
</div>
